.overview .slide:hover {
	box-shadow: 10px 10px 5px #888;	
}

.overview #footer {
	display:none;
}

#footer {
	position:   absolute;
	bottom:     -50px;
	right:      0px;
}

.footer-menus {
	height: 70px;
	width: 120px;
	
	padding: 0;
	margin: 0;
	
	position: relative;
  float: left;
  text-align: center;

	border: 3px solid #369;
	border-radius: 15px 15px 0 0 ;
	-moz-border-radius: 15px 15px 0 0 ;
	-webkit-border-radius: 15px 15px 0 0 ;
		
  opacity: 0.45;

  overflow: hidden;
}

.footer-menus ul {
	padding: 0;
	margin: 0;
}

.footer-menus li {
	list-style: none;
  font-size: 12px;
}

.footer-menus h2 {
	margin-bottom: 2px;	
	font-size: 16px;
}

h1 {
	font-weight: bold;
}

h1, h2 {
	margin-bottom: 1em;
}

.centralize {
	text-align: center;
}

.field {
	margin: 30px 0px;
	font-size: 1.6em;
}

.like-buttons {
	margin-top: 3px;
}

.share-buttons {
	margin-top: 8px;
}

.share-buttons a {
	text-decoration: none;
	color: #000;
  font-size: 14px;
	
	border: 2px solid #369;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 2px 10px;
	
	background-color: #ACE;
}